.type{
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    font-weight: 600;
    color: white
}

.Grass{
    background-color: #8CD46F;
}

.Poison{
    background-color: #B76FA9;
}

.Normal{
    background-color: #B7B6A4;
}