{% extends "base.html.twig" %}

{% block content %}

    <header>
        {% block header %}
            {% include 'common/_navbar.html.twig' %}
        {% endblock %}
    </header>
    <body style="background-image: url('/build/images/BG.jpg');
                background-size: 100%;
                background-repeat: no-repeat;
                background-attachment: fixed;">
    {% block body %}
    {% endblock %}
    </body>
    <footer>
        {% block footer %}
            {% include 'common/_footer.html.twig' %}
        {% endblock %}
    </footer>

{% endblock %}